encryption = "gpg"
[gpg]
    recipient = "A615364E885FBCE8"
[data]
    name = "Kerwin"
    email = "hikerwin@proton.me"
    icloud = "$HOME/Library/Mobile Documents/com~apple~CloudDocs/"
    brewfile = "$HOME/.config/brew/Brewfile"
[edit]
    command = "code"
[diff]
    format = "git"
    pager = "diff-so-fancy | less --tabs=4 -RFX"
[merge]
    command = "vimdiff"
