encryption = "gpg"
[gpg]
    recipient = "A615364E885FBCE8"
[data]
    name = "kerwin"
    email = "hikerwin@proton.me"
    icloud = "$HOME/Library/Mobile Documents/com~apple~CloudDocs/"
    brewfile = "$HOME/.config/brew/Brewfile"
[edit]
    command = "code"
[merge]
    command = "vimdiff"