encryption = "gpg"
[gpg]
    recipient = "A615364E885FBCE8"
[data]
    name = "kerwin"
    email = "hikerwin@proton.me"
[edit]
    command = "code"
[cd]
    command = "zsh"
[merge]
    command = "vimdiff"